DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
API_KEY=

/*
 * Configurações para o usuário root do MySQL, usado apenas para rodar o setup inicial.
 * NÃO use este usuário em produção. Ele é apenas para criar o banco de dados e o usuário do app.
 */
DB_SETUP_USER=root
DB_SETUP_PASS=root